* {
  margin: 0;
  padding: 0; }

body {
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.3fr;
  grid-template-areas: "header" "main" "footer";
  background: url("../assets/images/Skullptkraft_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header {
  background-color: #2c3e50;
  grid-area: header; }

main {
  background-color: #c0392b;
  grid-area: main; }

footer {
  background-color: #7f8c8d;
  grid-area: footer; }

.header {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "logo menu"; }

.logo-container {
  margin-left: 5%;
  margin-top: 5%;
  grid-area: logo; }

.logo {
  max-width: 40%;
  min-width: 250px; }

.menu {
  background-color: orange;
  grid-area: menu;
  width: 100%;
  height: 100%; }

.border {
  border: 12px solid #120300;
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90vw;
  height: 90vh;
  position: absolute;
  z-index: 10; }

.nav-links {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300; }
