.creation-boxes {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'boxes-1' 'boxes-2' 'boxes-3'; }

@media only screen and (min-width: 1060px) {
  .creation-boxes {
    grid-template-areas: 'boxes-1 boxes-2 boxes-3'; } }
