.main {
  grid-area: main; }

.slogan-power {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 2.5rem; }

.main {
  grid-area: main; }

@media only screen and (min-width: 1060px) {
  .border {
    visibility: visible; }
  .slogan-power {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 6rem; } }
