$border-color: #120300;

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-columns: 0.15fr 0.3fr 1fr 0.2fr;
  grid-template-rows: 100px 0.1fr 0.1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". logo nav ."
    ". . . ."
    ". main main ."
    ". footer footer .";

  background: url("../assets/images/Skullptkraft_bg.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// GRID layout
.logo-container {
  grid-area: logo;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: none;
  grid-area: nav;
  justify-content: flex-end;
  align-items: center;
}

.nav-small {
  display: flex;
  grid-area: nav;
  justify-content: flex-end;
  align-items: center;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.article-single {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.5fr;
  grid-template-areas:
    "left"
    "right";
}

.article-img {
  width: 100%;
  grid-area: left;
  z-index: -1;
}

.article-maps {
  width: 100%;
  min-height: 350px;
  margin-top: 75px;
  grid-area: left;
  z-index: 1;
}

.article-border {
  display: none;
  width: 100%;
  margin-left: -15px;
  margin-right: 15px;
  margin-top: -10px;
  margin-bottom: 10px;
  grid-area: left;
  border: 10px solid $border-color;
  z-index: 10;
}

.article-title {
  grid-area: left;
  color: white;
  z-index: 10;

  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 1.5rem;

  text-align: center;

  width: 150px;
  height: 35px;
  border: 8px solid white;
  padding: 10px;
  margin-top: -7.5%;
}

.article-title-maps {
  grid-area: left;
  color: white;
  z-index: 10;

  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 1.5rem;

  text-align: center;

  width: 150px;
  height: 35px;
  border: 8px solid white;
  padding: 10px;
  margin-top: -7.5%;
}

.article-text {
  grid-area: right;
  font-size: 0.8rem;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.article-text-maps {
  @extend .article-text;
  margin-top: 60px;
}

.article-text-title {
  margin-top: 15px;
  font-size: 1.2rem;
  color: white;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

// Elements
.logo {
  content: url("../assets/images/logo-cut.png");
  width: 100%;
  min-width: 75px;
  padding-right: 15px;
}

.nav-links {
  color: white;
  font-size: 1.2rem;
  font-family: "Open Sans";
}

.nav-links * {
  margin-left: 0px;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 3px;
}

.border {
  visibility: hidden;
  border: 10px solid $border-color;
  margin-left: 4vw;
  margin-right: 5vw;
  margin-top: 5vh;
  width: 90vw;
  height: 85vh;
  position: absolute;
  z-index: -10;
}

.slogan-power {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 2.5rem;
}

.footer-text {
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 1060px) {
  .border {
    visibility: visible;
  }

  .logo {
    content: url("../assets/images/logo.png");
    width: 100%;
    min-width: 250px;
  }

  .nav-links {
    color: white;
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
  }

  .nav-links * {
    margin-left: 35px;
  }

  body {
    grid-template-columns: 0.15fr 0.3fr 1fr 0.2fr;
    grid-template-rows: 0.05fr 0.5fr 0.1fr 1fr 0.3fr;
    grid-template-areas:
      ". . . ."
      ". logo nav ."
      ". . . ."
      ". main main ."
      ". footer footer .";
  }

  .slogan-power {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 6rem;
  }

  .nav {
    display: flex;
    grid-area: nav;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-small {
    display: none;
  }

  .article-single {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left . right";
  }

  .article-title {
    letter-spacing: 5px;
    font-size: 2rem;
    width: 250px;
    height: 50px;
    border: 10px solid white;
  }

  .article-text {
    font-size: 1rem;
  }

  .article-text-title {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
  }
}
