$border-color: #120300;

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-columns: 0.15fr 0.3fr 1fr 0.2fr;
  grid-template-rows: 100px 0.1fr 0.1fr 1fr 1fr;
  grid-template-areas:
    '. . . .'
    '. logo nav .'
    '. . . .'
    '. main main .'
    '. footer footer .';

  background: url('../assets/images/Skullptkraft_bg.jpg') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}

.logo-container {
  grid-area: logo;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
}

.logo {
  content: url('../assets/images/logo-cut.png');
  width: 100%;
  min-width: 75px;
  padding-right: 15px;
}

.border {
  visibility: hidden;
  border: 10px solid $border-color;
  margin-left: 4vw;
  margin-right: 5vw;
  margin-top: 5vh;
  width: 90vw;
  height: 85vh;
  position: absolute;
  z-index: -10;
}

.footer-text {
  color: white;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.footer-text-by {
  margin-right: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

@media only screen and (min-width: 1060px) {
  .border {
    visibility: visible;
  }

  .logo {
    content: url('../assets/images/logo.png');
    width: 100%;
    min-width: 250px;
  }

  body {
    grid-template-columns: 0.15fr 0.3fr 1fr 0.2fr;
    grid-template-rows: 0.05fr 0.5fr 0.1fr 1fr 0.3fr;
    grid-template-areas:
      '. . . .'
      '. logo nav .'
      '. . . .'
      '. main main .'
      '. footer footer .';
  }
}
